footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}
header {
    background: #dd2476;
    background: linear-gradient(to bottom, #dd2476, #ff512f);
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
header a {
    font-family: "Sniglet", cursive;
    font-size: 0.9em;
    color: whitesmoke;
}
.p-0 {
    padding: 0!important;
}
header .row .col-md-5 img {
    width: 90%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: "Rubik", cursive;
    color: white;
}
header, section {
    overflow-x: hidden;
}
.section-1 {
    padding: 20vmin 0;
}
.section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}
.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}
.section-1 .row .col-md-6:last-child {
    position: relative;
}
.section-1 .row .col-md-6 .panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgb(0 0 0 / 20%);
    font-family: "Rubik", cursive;
}
.p-0 {
    padding: 0!important;
}
.cover {
    width: 100%;
    height: 55vmin;
    background: url(assets/pexels-photo-452738.jpeg);
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
}
.cover .content {
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}
.cover .content> h1 {
    font-family: "Patua One", cursive;
    font-size: 6vmin;
    color: whitesmoke;
}
.numbers {
    margin-top: -15vmin;
}
.numbers .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0px rgb(255 0 0 / 35%);
}
.numbers .rect h1 {
    font-size: 5rem;
    color: tomato;
}
.cover .content> p {
    font-family: "Rubik", cursive;
    font-size: 2vmin;
    color: #e5e5e5;
}
.section-3 {
    height: 70vmin;
    margin-top: 15vmin;
    background: linear-gradient(to bottom, #dd2476, #ff512f);
}
.section-3 .col-md-12 > h1 {
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}
.section-3 .col-md-12 > p {
    padding: 0.4em;
    padding-bottom: 2em;
    color: rgba(255,255,255,0.877);
    font-size: 3vmin;
}
.section-3 .desktop h3 {
    font-size: 4vmin;
}
.section-3 .desktop p {
    font-size: 2vmin;
}
.fa, .fas {
    font-weight: 900;
}
.border-radius {
    border-radius: 340px;
    width: 60%;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.p-4 {
    padding: 1.5rem!important;
}
.section-4 .card {
    width: 22rem;
    margin-top: 10vmin;
}
.mr-2, .mx-2 {
    margin-right: 0.5rem!important;
}